= simple_form_for @item do |f|
  %fieldset
    %legend Item Details
    .row
      .small-6.columns= f.input :name, label: 'Item Name'
      .small-6.columns= f.input :description, label: 'Short Description'
  = f.submit 'Save Item', class: 'button'