#header.row
  .small-6.small-offset-3.columns
    %h1.light
      borrow<sub>note</sub>
    %h2.light
      %small friendly reminders to give your stuff back!
  .small-3.columns.account_buttons.right
    = link_to "Sign Up", new_user_registration_path, class: 'button'
    %br
    = link_to "Log In", new_user_session_path, class: 'small secondary button'
%hr